@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PRETENDARD-REGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PRETENDARD-MEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PRETENDARD-SEMIBOLD.OTF') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PRETENDARD-LIGHT.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-4Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-5Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-6SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Pretendard', sans-serif;
}

@layer components {
  .card-gradient1 {
    @apply rounded-[16px];
    background: radial-gradient(37.4% 40.3% at 70.14% 52.01%, #91A9FF 0%, #7793FB 100%);
  }
  .card-gradient2 {
    @apply rounded-[10px];
    background: linear-gradient(163deg, #3B5E96 1.98%, #0C3576 98.02%);
  }
  .card-gradient3 {
    @apply rounded-[10px];
    background: linear-gradient(163deg, #CFDBE7 2.32%, #A4BFD9 97.68%);
  }
  .card-gradient4 {
    @apply rounded-[10px];
    background: linear-gradient(162deg, #51BCFA 1.52%, #0584CD 98.48%);
  }
  .mentoImpo-card {
    @apply rounded-[8px];
    border: 0.6px solid #888;
  }
  .mento-card {
    @apply rounded-[8px];
    background-color: gray;
    width: 199px;
    height: 161px;
  }
  .mentoButton {
    @apply rounded-[8px];
    background: linear-gradient(154deg, #3C98E9 2.75%, #2275BC 97.25%);
  }
  .mentoButton:hover {
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.16);
  }
  .button1 {
    @apply px-[25px] py-[13px] border border-[#777] rounded-[5px] font-medium text-[#777] text-[18px]
  }
  .button2 {
    @apply px-[25px] py-[13px] rounded-[5px] font-medium text-white text-[18px] bg-[#3C98E9]
  }
  .horizontalScroll {
    overflow: scroll;
    white-space: nowrap;
  }
  .horizontalScroll::-webkit-scrollbar{
    display: none; 
  }
  .card-shadow {
    @apply w-full h-full rounded-[8px];
    position: absolute;
    background: linear-gradient(180deg, rgba(19, 19, 19, 0.00) 49.79%, rgba(19, 19, 19, 0.80) 100%);
  }
  .tagBox1 {
    @apply text-[#555] text-[16px] font-preendard font-medium px-[15px] py-[8px] rounded-[5px] border border-[#CCC];
  }
  .tagBox2 {
    @apply text-[#555] text-[16px] font-preendard font-medium px-[12px] py-[6px] rounded-[6px] border border-[#CCC];
  }
  .tagBox3 {
    @apply text-[#555] text-[13px] font-preendard font-medium px-[9px] py-[5px] rounded-[5px] border border-[#CCC];
  }
  .boardDetailBox {
    @apply px-[20px] py-[13px] rounded-[7px] border border-[#D7D7D7]
  }
  .info-label {
    @apply font-medium text-[#777] text-[18px]
  }
  .info-text {
    @apply font-medium text-[#333] text-[19px]
  }
  .clubInputTitle {
    @apply font-medium text-[20px]
  }
  .clubInputBox {
    @apply px-[15px] py-[9px] rounded-[8px] border border-[#CCC] bg-[#F5F5F5] font-medium text-[20px] placeholder:text-[#AAA]
  }
  .myInputBox {
    @apply px-[23px] py-[21px] rounded-[8px] border border-[#999] text-[19px] placeholder:text-[#858585]
  }
}
