@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PRETENDARD-REGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PRETENDARD-MEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Pretendard', sans-serif;
}